* {
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
}

.all {
  max-width: 1440px;
}

@media only screen and (min-width: 1440px) {
  .all {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

section {
  padding: 24px 138px;
}

.section__banniere {
  padding: 73px 136px;
  text-align: center;
  margin: 0 auto;
}

.image__the, .image__notreentreprise {
  width: 100%;
}

.titre__the {
  margin-bottom: 6px;
}

.selection__the {
  width: 275px;
  border: 1px solid #b90032;
  padding-bottom: 14px;
  margin: 5px 5px;
}
.selection__the h4 {
  color: #b90032;
  font-weight: bold;
  margin-bottom: 8px;
}
.selection__the h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
}
.selection__the p {
  margin-bottom: 8px;
}
.selection__the__contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
}

@media only screen and (max-width: 1440px) {
  .categorie__the {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.selection__the__image {
  position: relative;
}

.selection__the__prix {
  position: absolute;
  top: 20px;
  left: 190px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #b90032;
  text-align: center;
  padding: 10px 10px;
  color: #fff;
  font-weight: bold;
}

.bouton__voir {
  padding: 16px 62px;
  background-color: #b90032;
  margin: 0 5px;
}

.categorie__the {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__notreentreprise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section__notreentreprise__image {
  margin-right: 10px;
}
.section__notreentreprise__texte h3 {
  margin-bottom: 8px;
}
.section__notreentreprise__texte p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 850px) {
  .selection__the {
    margin: auto auto;
    margin-bottom: 20px;
  }

  .categorie__the {
    margin: auto auto;
  }

  .titre__the {
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  .section__notreentreprise {
    flex-direction: column;
  }
}
header {
  background-color: #8fb900;
  max-width: 1440px;
  min-width: 320px;
  padding: 24px 138px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}

.bouton__panier {
  border: 2px #FFF solid;
  padding: 8px 8px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 138px;
  background-color: #8fb900;
  max-width: 1440px;
  min-width: 320px;
  color: #FFF;
}
@media only screen and (max-width: 425px) {
  footer {
    flex-direction: column;
  }
}

.footer__liens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 425px) {
  .footer__liens {
    flex-direction: column;
  }
}
.footer__liens h2 {
  margin-right: 12px;
}

footer h2 {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
