header {
    background-color: #8fb900;
    max-width: 1440px;
    padding: 24px 138px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
        @media only screen and (max-width: 425px) {
            flex-direction: column;
        }

}

.bouton__panier {
    border: 2px #FFF solid;
    padding: 8px 8px;
}

